{% extends 'base.html' %}

{% block breadcrumb %}
<li class="crumb"><i class="fas fa-home"></i></li>
<li class="crumb">Comunicações</li>
<li class="crumb">Textos - Scripts</li>
{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="row mb-4">
        <div class="col">
            <h2>Gerenciar Scripts de Atendimento</h2>
        </div>
        <div class="col text-right">
            <button class="br-button success" type="button" onclick="window.location.href='{% url 'comunicacoes:admin_novo_script' %}'">
                <i class="fas fa-plus-circle"></i>
                <span>Novo Script</span>
            </button>
        </div>
    </div>
    {{ grid_content|safe }}
</div>
{% endblock %}
